.add {
    border-radius: 50%;
    transition: all ease 0.2s;
}

.add h1 {
    display: none;
}

.add:hover {
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
}

.add:hover h1 {
    display: block;
}
