.remove {
    border-radius: 50%;
    transition: all ease 0.2s;
}

.remove h1 {
    display: none;
}

.remove:hover {
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
}

.remove:hover h1 {
    display: block;
}
