@media (max-width: 1250px) {
    .Benefits {
        padding-left: 12% !important;
        padding-right: 12% !important;
    }

    .mesh1,
    .mesh4 {
        width: 18rem;
        height: 18rem;
    }

    .mesh2 {
        width: 23rem;
        height: 23rem;
    }

    .mesh3 {
        width: 21rem;
        height: 21rem;
    }
}

@media (max-width: 992px) {
    .Hero {
        flex-direction: column;
        gap: 1rem;
    }

    .Hero .heading-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .Hero > div {
        width: 100%;
    }

    .Hero .swiper-container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .Benefits .benefits-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .Benefits .mesh2 {
        top: 2rem;
    }

    .Benefits .mesh3 {
        top: -2rem;
    }

    .Benefits .mesh4 {
        top: 0;
    }

    .features-grid > div {
        margin: 4rem 0;
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .features-grid > div:nth-child(1) > div:nth-child(1),
    .features-grid > div:nth-child(3) > div:nth-child(1) {
        order: 2;
    }

    .features-grid > div:nth-child(1) > div:nth-child(2),
    .features-grid > div:nth-child(3) > div:nth-child(2) {
        order: 1;
    }

    .Compare,
    .Questions,
    .Tech {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .tech-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
}

@media (max-width: 576px) {
    .mesh1,
    .mesh4 {
        width: 15rem !important;
        height: 15rem !important;
    }

    .mesh2 {
        width: 20rem !important;
        height: 20rem !important;
    }

    .mesh3 {
        width: 18rem !important;
        height: 18rem !important;
    }

    .slide-height {
        height: 16rem !important;
    }

    .Benefits .benefits-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .Benefits .mesh2 {
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
    }

    .Benefits .mesh3 {
        left: 40%;
        transform: translateX(-50%);
        top: 40%;
        animation: none;
    }

    .Benefits .mesh4 {
        left: 70%;
        transform: translateX(-50%);
        top: 60%;
        animation: none;
    }

    .Features .text-container {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .video-height {
        height: 14rem !important;
    }

    .Compare .mesh4 {
        top: -5%;
    }

    .Compare .mesh2 {
        opacity: 0.8;
        right: -20%;
    }

    .Compare .mesh1 {
        opacity: 0.5;
    }

    .questions-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .Questions .mesh4 {
        left: 50%;
        transform: translateX(-50%);
        top: 6%;
        opacity: 0.7;
    }

    .Questions .mesh3 {
        opacity: 0.7;
        top: 40%;
    }

    .Questions .mesh1 {
        opacity: 0.7;
        left: 50%;
    }

    .tech-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .video-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .Hero .swiper-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
