header {
    transition: ease 1s !important;
}

.select {
    background-color: white;
    transition: all ease-in-out 0.2s;
}

.current-page {
    color: #059669 !important;
}

.advertising {
    background: rgb(52, 211, 153);
    box-shadow: 12px 12px 10px rgba(52, 211, 153, 0.3);
    /*
    background: linear-gradient(45deg, rgba(52,211,153,1) 0%, rgba(45,212,191,1) 68%);
    box-shadow: 12px 12px 10px rgba(45,212,191,0.3); */
}