header {
    transition:
        transform ease 1s,
        top ease 1s !important;
}

.select {
    background-color: white;
    transition: all ease-in-out 0.2s;
}

.current-page {
    color: #059669 !important;
}

.advertising {
    background: rgb(52, 211, 153);
    box-shadow: 12px 12px 10px rgba(52, 211, 153, 0.3);
    /*
    background: linear-gradient(45deg, rgba(52,211,153,1) 0%, rgba(45,212,191,1) 68%);
    box-shadow: 12px 12px 10px rgba(45,212,191,0.3); */
}

[data-theme='dark'] .advertising {
    box-shadow: 6px 6px 10px rgba(52, 211, 153, 0.3);
}

@media (max-width: 768px) {
    footer {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}

@media (max-width: 576px) {
    .side-menu {
        width: 60% !important;
    }

    footer > div:first-child {
        flex-direction: column;
    }

    footer > div:first-child > div {
        width: 100% !important;
    }
}

@media (max-height: 500px) {
    .advertising {
        display: none;
    }
}
